AUAMVCSource/AUA.ProjectName/.vs
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.WebUi/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Common/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.DataLayer/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.DomainEntities/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.InMemoryServices/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.ManualMapping/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Models/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Services/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Tests/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.ValidationServices/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.WebUi/bin
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.ValidationServices/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Tests/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Services/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Models/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.ManualMapping/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.InMemoryServices/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.DomainEntities/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.DataLayer/obj
AUAMVCSource/AUA.ProjectName/AUA.ProjectName.Common/obj
